{% extends "layout.html.twig" %}

{% block title %}Crea torneo - AoE2ita{% endblock %}
{% block meta %}
    <meta name="description" content="Crea il tuo torneo stabilendo numero di giocatori, squadre, classifica e regolamento." />
    <meta property="og:url"           content="https://aoe2ita.net/tournaments/new" />
    <meta property="og:title"         content="Crea torneo - AoE2ita" />
    <meta property="og:description"   content="Crea il tuo torneo stabilendo numero di giocatori, squadre, classifica e regolamento." />
    <meta name="twitter:title" content="Crea torneo - AoE2ita" />
    <meta name="twitter:description" content="Crea il tuo torneo stabilendo numero di giocatori, squadre, classifica e regolamento." />
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}
{% block content %}
    {% include 'menu.html.twig' %}
    <section class="pure-g tournaments">
        <div class="pure-u-1 pure-u-md-1-5">
            <div class="sidebar">
                <div class="bigButton">
                    <a href="{{ path_for('tournaments') }}">Tornei</a>
                </div>
                <div class="text">
                    <p>Sei nella fase di creazione del torneo dove risiedono attualmente alcune opzioni per indicare la tipologia di partite che si vogliono svolgere. Ti consigliamo di sfruttare il campo descrizione per specificare tutte le impostazioni e regole di gioco che desideri vengano seguite per le partite. Una volta cliccato su <i>Crea</i> attendi che venga effettuata la ricarica automatica della pagina (potrebbe metterci qualche secondo). Qualsiasi dubbio, suggerimento o richiesta di implementazione che desideri comunicarci scrivici attraverso il <i>Feedback</i> in fondo alla pagina.</p>
                </div>
                <div class="profile">
                    <div class="pure-u-3-5">
                        <div class="pure-u-2-5">
                            <div class="avatar">
                                <a class="username" href='{{ user.profileurl }}' target='_blank'>
                                    <img src="{{ user.avatar }}" alt="{{user.username}}">
                                </a>
                            </div>
                        </div><!--
                        --><div class="pure-u-3-5">
                                <div class="user">
                                    <a class="username" href='{{ user.profileurl }}' target='_blank'>{{user.username}}</a><br>
                                    <a class="logout" href="{{ path_for('logout') }}">disconnetti</a>
                                </div>
                        </div>
                        <div class="pure-u-1">
                            <div class="rank">
                                <span>DM: {{ user.mmr_dm }}</span>
                                <span>RM: {{ user.mmr_rm }}</span>
                            </div>
                        </div>
                    </div><!--
                    --><div class="pure-u-2-5">
                        <div class="score">
                            <span>{{ user.first_position * 3 + user.second_position * 2 + user.third_position * 1 }}</span>
                            <img src="/assets/images/cup.png" alt="score">
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="title">
                        Tornei in corso
                    </div>
                    <div class="content">
                        {% for ut in user.teams if ut.tournament %}
                            <a href="{{ path_for('tournament', { 'id': ut.tournament.id }) }}">
                                {{ ut.tournament.title }} 
                                {% if ut.tournament.status == 'complete' %}
                                    <span>&#128081;</span>
                                {% endif %}
                            </a><br>
                        {% else %}
                            <span>Non hai tornei in corso</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-4-5">
            <div class="tournamentTable">
                <div class="tournamentTitle">
                    <h4 id="tTitle">Titolo torneo</h4>
                </div>
                <div class="tournamentForm">
                    <div class="formHead">
                        <span>Creazione torneo</span>
                    </div>
                    <div class="pure-u-1 pure-u-md-3-5">
                        <div class="formContainer">
                            <form id="createTournamentForm">
                                <div>
                                    <label for="title">Titolo torneo:</label>
                                    <input type="text" name="title" onchange="updateTitle(this.value)" value="" style="width: 78%;" required>
                                </div>
                                <div>
                                    <label for="n_teams">Numero di squadre:</label> <span id="teamvalue"></span>
                                    <!--<input type="range" name="n_teams" min="2" max="32" step="1" onchange="teamvalue.value=value" value="2" required>-->
                                    <div id="team_slider"></div>
                                    <input type="hidden" name="n_teams" value="">
                                </div>
                                <div>
                                    <label for="team_members">Membri per squadra:</label> <span id="membervalue"></span>
                                    <!--<input type="range" name="team_members" min="1" max="4" step="1" onchange="membervalue.value=value" value="1" required>-->
                                    <div id="member_slider"></div>
                                    <input type="hidden" name="team_members" value="">
                                </div>
                                <div>
                                    <label for="tournament_type">Tipologia torneo:</label>
                                    <select name="tournament_type" required>
                                        <option value="single elimination">Single elimination</option>
                                        <!-- altre -->
                                    </select>
                                </div>
                                <div>
                                    <label for="rank_type">Classifica:</label>
                                    <select name="rank_type">
                                        <option value="DM">DM</option>
                                        <option value="RM">RM</option>
                                        <option value=""></option>
                                    </select>
                                    <span id="minvalue"></span> - <span id="maxvalue"></span>
                                    <div id="mmr_slider"></div>
                                    <input type="hidden" name="rank_min" value="">
                                    <input type="hidden" name="rank_max" value="">
                                </div>
                                <div>
                                    <input type="checkbox" id="random" name="random" value="true">
                                    <label for="random">Squadre casuali: <span></span></label>
                                </div>
                                <div>
                                    <label for="host">Host:</label>
                                    <input type="radio" name="host" id="hsteu" value="EU" checked>
                                    <label for="hsteu"><span></span> EU</label>
                                    <input type="radio" name="host" id="hstany" value="ANY">
                                    <label for="hstany"><span></span> Qualsiasi</label>
                                </div>
                                <div>
                                    <label for="description">Descrizione:</label>
                                    <textarea id="desc" name="description"></textarea>
                                </div>
                            </form>
                        </div>
                    </div><!--
                    --><div class="pure-u-1 pure-u-md-2-5">
                        <div class="formText">
                            <p>Allo stato attuale solo gli amministratori della piattaforma possono modificare i tornei. Se ti accorgi di aver fatto un errore, elimina il torneo e ricrealo. Ricorda che sei il responsabile del torneo e dovrai occuparti di tutti gli aspetti organizzativi relativo ad esso, come il contattare i giocatori iscritti e comunicare agli amministratori della piattaforma eventuali problemi o irregolarità. Ricorda inoltre che la piattaforma è nella sua prima fase di test ed utilizzo, quindi se qualcosa non funziona o ritieni necessarie alcune funzioni aggiuntive non esitare a scriverci.</p>
                            <div class="spacer"></div>
                            <button id="createButton" onclick="submitForm()" type="button" class="pure-button create">Crea</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/nouislider.min.js"></script>
    <script type="text/javascript" src="/assets/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/assets/newTournament.js"></script>
{% endblock %}