{% extends "layout.html.twig" %}

{% block title %}Crea torneo - AoE2ita{% endblock %}
{% block meta %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}
{% block content %}
    {% include 'menu.html.twig' %}
    <section class="pure-g tournaments">
        <div class="pure-u-1 pure-u-md-1-5">
            <div class="sidebar">
                <div class="bigButton">
                    <a href="{{ path_for('new_tournament') }}">Crea torneo</a>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="profile">
                    <div class="pure-u-3-5">
                        <div class="pure-u-2-5">
                            <div class="avatar">
                                <a class="username" href="{{ path_for('user', { 'slug': user.slug }) }}">
                                    <img src="{{ user.avatar }}" alt="{{user.username}}">
                                </a>
                            </div>
                        </div><!--
                        --><div class="pure-u-3-5">
                                <div class="user">
                                    <a class="username" href="{{ path_for('user', { 'slug': user.slug }) }}">{{user.username}}</a><br>
                                    <a class="logout" href="{{ path_for('logout') }}">disconnetti</a>
                                </div>
                        </div>
                        <div class="pure-u-1">
                            <div class="rank">
                                <span>DM: {{ user.mmr_dm }}</span>
                                <span>RM: {{ user.mmr_rm }}</span>
                            </div>
                        </div>
                    </div><!--
                    --><div class="pure-u-2-5">
                        <div class="score">
                            <span>0</span>
                            <img src="/assets/images/cup.png" alt="score">
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="title">
                        Tornei in corso
                    </div>
                    <div class="content">
                        {% for ut in user.teams %}
                            {% if ut.tournament %}
                                <a href="{{ path_for('tournament', { 'id': ut.tournament.id }) }}">{{ ut.tournament.title }}</a><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-4-5">
            <div class="tournamentTable">
                <div class="tournamentTitle">
                    <h4 id="tTitle">Titolo torneo</h4>
                </div>
                <div class="tournamentForm">
                    <div class="formHead">
                        <span>Creazione torneo</span>
                    </div>
                    <div class="pure-u-1 pure-u-md-3-5">
                        <div class="formContainer">
                            <form id="createTournamentForm">
                                <div>
                                    <label for="title">Titolo torneo:</label>
                                    <input type="text" name="title" onchange="updateTitle(this.value)" value="" required>
                                </div>
                                <div>
                                    <label for="n_teams">Numero di squadre:</label> <span id="teamvalue"></span>
                                    <!--<input type="range" name="n_teams" min="2" max="32" step="1" onchange="teamvalue.value=value" value="2" required>-->
                                    <div id="team_slider"></div>
                                    <input type="hidden" name="n_teams" value="">
                                </div>
                                <div>
                                    <label for="team_members">Membri per squadra:</label> <span id="membervalue"></span>
                                    <!--<input type="range" name="team_members" min="1" max="4" step="1" onchange="membervalue.value=value" value="1" required>-->
                                    <div id="member_slider"></div>
                                    <input type="hidden" name="team_members" value="">
                                </div>
                                <div>
                                    <label for="tournament_type">Tipologia torneo:</label>
                                    <select name="tournament_type" required>
                                        <option value="single elimination">Single elimination</option>
                                        <!-- altre -->
                                    </select>
                                </div>
                                <div>
                                    <label for="rank_type">Classifica:</label>
                                    <select name="rank_type" required>
                                        <option value="DM">DM</option>
                                        <option value="RM">RM</option>
                                        <option value=""></option>
                                    </select>
                                    <span id="minvalue"></span> - <span id="maxvalue"></span>
                                    <div id="mmr_slider"></div>
                                    <input type="hidden" name="rank_min" value="">
                                    <input type="hidden" name="rank_max" value="">
                                </div>
                                <div>
                                    <input type="checkbox" id="random" name="random" value="true">
                                    <label for="random">Squadre casuali: <span></span></label>
                                </div>
                                <div>
                                    <label for="host">Host:</label>
                                    <input type="radio" name="host" value="EU" checked> EU
                                    <input type="radio" name="host" value="ANY"> Qualsiasi
                                </div>
                                <div>
                                    <label for="description">Descrizione:</label>
                                    <textarea id="desc" name="description"></textarea>
                                </div>
                            </form>
                        </div>
                    </div><!--
                    --><div class="pure-u-1 pure-u-md-2-5">
                        <div class="formText">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="spacer"></div>
                            <button onclick="submitForm(); this.disabled=true; this.innerHTML='Creando...';" type="button" class="pure-button create">Crea</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/nouislider.min.js"></script>
    <script type="text/javascript" src="/assets/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            tinymce.init({
                selector: 'textarea#desc',  // change this value according to your HTML
                plugins: 'lists',
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table',
                menubar: false,
                statusbar: false,
                branding: false,
                width: 330
            });

            var mmr_slider = document.getElementById('mmr_slider');
            var team_slider = document.getElementById('team_slider');
            var member_slider = document.getElementById('member_slider');

            noUiSlider.create(mmr_slider, {
                start: [ 1400, 1700 ],
                step: 50,
                margin: 100,
                range: {
                    'min': [ 1200 ],
                    'max': [ 2400 ]
                },
                format: {
                    to: function ( value ) {
                        return parseInt(value);
                    },
                    from: function ( value ) {
                        return parseInt(value);
                    }
                }
            });
            noUiSlider.create(team_slider, {
                start: [ 2 ],
                step: 1,
                range: {
                    'min': [ 2 ],
                    'max': [ 32 ]
                },
                format: {
                    to: function ( value ) {
                        return parseInt(value);
                    },
                    from: function ( value ) {
                        return parseInt(value);
                    }
                }
            });
            noUiSlider.create(member_slider, {
                start: [ 1 ],
                step: 1,
                range: {
                    'min': [ 1 ],
                    'max': [ 4 ]
                },
                format: {
                    to: function ( value ) {
                        return parseInt(value);
                    },
                    from: function ( value ) {
                        return parseInt(value);
                    }
                }
            });
            var rank_min = document.getElementsByName('rank_min')[0];
            var rank_max = document.getElementsByName('rank_max')[0];
            var n_teams = document.getElementsByName('n_teams')[0];
            var team_members = document.getElementsByName('team_members')[0];
            var teamvalue = document.getElementById('teamvalue');
            var membervalue = document.getElementById('membervalue');
            var minvalue = document.getElementById('minvalue');
            var maxvalue = document.getElementById('maxvalue');
            mmr_slider.noUiSlider.on('update', function(values, handle) {
                minvalue.innerHTML = rank_min.value = parseInt(values[0]);
                maxvalue.innerHTML = rank_max.value = parseInt(values[1]);
            });
            team_slider.noUiSlider.on('update', function(values, handle) {
                teamvalue.innerHTML = n_teams.value = parseInt(values[0]);
            });
            member_slider.noUiSlider.on('update', function(values, handle) {
                membervalue.innerHTML = team_members.value = parseInt(values[0]);
            });
        });

        function updateTitle(v) {
            document.getElementById('tTitle').innerHTML = v ? v : "Titolo torneo";
        }

        var form = document.querySelector('form')
        function submitForm() {
            tinymce.get("desc").save();
            fetch('/tournaments/new', {
                method: 'POST',
                body: new FormData(form),
                credentials: 'same-origin'
            }).then(function(response) {
                //console.log(response)
                if (response.ok) {
                  return response.json();
                } else {
                  throw new Error(response.statusText);
                }
            }).then(function(data) {
                //console.log(data)
                location.href = '/tournaments/' + data;
            }).catch(function(error) {
                console.log('request failed', error)
            });
        }
  </script>
{% endblock %}