{% extends "layout.html.twig" %}

{% block title %}{{tournament.title}} - AoE2ita{% endblock %}
{% block meta %}

{% endblock %}
{% block content %}
    {% include 'menu.html.twig' %}
    <section class="pure-g tournaments">
        <div class="pure-u-1 pure-u-md-1-5">
            <div class="sidebar">
                <div class="bigButton">
                    <a href="{{ path_for('new_tournament') }}">Crea torneo</a>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="profile">
                    <div class="pure-u-3-5">
                        <div class="pure-u-2-5">
                            <div class="avatar">
                                <a class="username" href='{{ user.profileurl }}' target='_blank'>
                                    <img src="{{ user.avatar }}" alt="{{user.username}}">
                                </a>
                            </div>
                        </div><!--
                        --><div class="pure-u-3-5">
                                <div class="user">
                                    <a class="username" href='{{ user.profileurl }}' target='_blank'>{{user.username}}</a><br>
                                    <a class="logout" href="{{ path_for('logout') }}">disconnetti</a>
                                </div>
                        </div>
                        <div class="pure-u-1">
                            <div class="rank">
                                <span>DM: {{ user.mmr_dm }}</span>
                                <span>RM: {{ user.mmr_rm }}</span>
                            </div>
                        </div>
                    </div><!--
                    --><div class="pure-u-2-5">
                        <div class="score">
                            <span>{{ user.first_position * 3 + user.second_position * 2 + user.third_position * 1 }}</span>
                            <img src="/assets/images/cup.png" alt="score">
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="title">
                        Tornei in corso
                    </div>
                    <div class="content">
                        {% for ut in user.teams if ut.tournament %}
                            <a href="{{ path_for('tournament', { 'id': ut.tournament.id }) }}">
                                {{ ut.tournament.title }} 
                                {% if ut.tournament.status == 'complete' %}
                                    <span>&#128081;</span>
                                {% endif %}
                            </a><br>
                        {% else %}
                            <span>Non hai tornei in corso</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-4-5">
            <div class="tournamentTable">
                <div class="tournamentDetailTitle">
                    <h2>{{tournament.title}}</h2>
                </div>
                <div class="tournamentDetailContainer">
                    {% if tournament.user_id == user.id or user.role == 'admin' %}
                        <div class="formHead editBar">
                            <span>Amministra torneo</span>
                            <a href="" onclick="deleteTournament({{tournament.id}}); this.disabled=true; this.innerHTML='Eliminando...';">Elimina torneo</a>
                        </div>
                    {% endif %}
                    <div class="pure-u-1 pure-u-md-1-3">
                        <div class="description">
                            {% if tournament.user_id == user.id or user.role == 'admin' %}
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                            {% endif %}
                            <h4>Descrizione</h4>
                            <div class="descriptionText">
                                {{ tournament.description | raw }}
                            </div>
                        </div>
                    </div><!--
                    --><div class="pure-u-1 pure-u-md-2-3">
                        <div class="tournamentDetail">
                            {% if tournament.user_id == user.id or user.role == 'admin' %}
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                                <div class="spacer"></div>
                            {% endif %}
                            {% if tournament.status == 'pending' %}
                                {% if tournament.random_team == 1 %}
                                    {% if joined %}
                                        <span>Sei iscritto a questo torneo</span>
                                    {% else %}
                                        <button onclick="joinRandomTeam({{tournament.id}}); this.disabled=true; this.innerHTML='Entrando...';"><span>Partecipa</span></button>
                                    {% endif %}
                                {% else %}
                                    {% for team in tournament.teams %}<div class="pure-u-1 pure-u-md-1-2">
                                        {% set teamTitle = team.title|split(' ') %}
                                        <div class="pure-u-1-3">
                                            <span class="teamName">{{ teamTitle[0] }}</span> <span class="teamNumber"><span>{{ teamTitle[1] }}</span></span>
                                        </div><!--
                                        --><div class="pure-u-2-3">
                                            <table>
                                                {% for i in 0..tournament.team_members - 1 %}
                                                    {% if team.members[i] %}
                                                        <tr>
                                                            <td class="userTooltip" title="{% include 'user_card.html.twig' with {'user': team.members[i]} only %}" data-options="callback:steamStatus;" data-steam="{{team.members[i].steam_id}}">{{ team.members[i].username }}</td>
                                                            <td onclick="leaveTeam({{team.id}},{{ tournament.rank == 'DM' ? team.members[i].mmr_dm : team.members[i].mmr_rm }});">&#10060;</td>
                                                        </tr>
                                                    {% else %}
                                                        {% if joined %}
                                                            <tr class="notClick">
                                                                <td>Slot libero</td>
                                                                <td>&#9940;</td>
                                                            </tr>
                                                        {% else %}
                                                            <tr onclick="joinTeam({{tournament.id}},{{team.id}});">
                                                                <td>Slot libero</td>
                                                                <td>&#9094;</td>
                                                            </tr>
                                                        {% endif %}
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                            <div class="spacer"></div>
                                        </div>
                                    </div>{% endfor %}
                                {% endif %}
                                <div class="pure-u-1 pure-u-md-1-2">
                                    <table class="adminList">
                                        <tr>
                                            <td>admin</td>
                                            <td class="userTooltip" title="{% include 'user_card.html.twig' with {'user': tournament.user} only %}">{{ tournament.user.username }}</td>
                                        </tr>
                                    </table>
                                </div><!--
                                --><div class="pure-u-1 pure-u-md-1-2">
                                    {% if ready and tournament.user_id == user.id %}
                                    <div class="tournamentDetailAdminFooter">
                                        <button onclick="startTournament({{tournament.id}}); this.disabled=true; this.innerHTML='Avviando...';" class="tournamentButton">Avvia torneo</button>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if tournament.status == 'underway' %}
                                <!--<pre>{{ matches | json_encode() }}</pre>-->
                                {% for m in matches %} <!-- state: pending, open, complete -->
                                    <div class="pure-g">
                                        <div class="pure-u-1-2">
                                            <h3>{{ m.player1.title }}</h3>
                                            <p>{{ m.player1.average }}</p>
                                            {% for member in m.player1.members %}
                                                <span class="userTooltip" title="{% include 'user_card.html.twig' with {'user': member} only %}">{{ member.username }} - {% if tournament.rank == 'RM' %}{{ member.mmr_rm }}{% endif %}{% if tournament.rank == 'DM' %}{{ member.mmr_dm }}{% endif %}</span><br>
                                            {% endfor %}
                                            {% if tournament.user_id == user.id and m.state == 'open' %}
                                                <button onclick="matchScore({{tournament.id}},{{m.id}},{{m.player1_id}},1,0); this.disabled=true; this.innerHTML='Aggiornando...';">Vince {{ m.player1.title }}</button>
                                            {% endif %}
                                        </div>
                                        <div class="pure-u-1-2">
                                            <h3>{{ m.player2.title }}</h3>
                                            <p>{{ m.player2.average }}</p>
                                            {% for member in m.player2.members %}
                                                <span class="userTooltip" title="{% include 'user_card.html.twig' with {'user': member} only %}">{{ member.username }} - {% if tournament.rank == 'RM' %}{{ member.mmr_rm }}{% endif %}{% if tournament.rank == 'DM' %}{{ member.mmr_dm }}{% endif %}</span><br>
                                            {% endfor %}
                                            {% if tournament.user_id == user.id and m.state == 'open' %}
                                                <button onclick="matchScore({{tournament.id}},{{m.id}},{{m.player2_id}},0,1); this.disabled=true; this.innerHTML='Aggiornando...';">Vince {{ m.player2.title }}</button>
                                            {% endif %}
                                        </div>
                                        <div class="pure-u-1">
                                            {% if m.state == 'complete' %}
                                                <span>Vince il match </span>
                                                {% if m.winner_id == m.player1.id %}
                                                    <h3>{{ m.player1.title }}</h3>
                                                {% else %}
                                                    <h3>{{ m.player2.title }}</h3>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- "identifier":"3P" and state == 'open' match per il terzo posto -->
                                {% set lastMatch = matches|last %}
                                {% set finalMatch = matches[matches|length - 2] %}
                                {% if lastMatch.state == 'complete' %}
                                    <button onclick="closeTournament({{tournament.id}}, {{finalMatch.winner_id}}, {{finalMatch.loser_id}}, {{lastMatch.winner_id}}); this.disabled=true; this.innerHTML='Concludendo...';">Concludi torneo</button>
                                    <!-- da inviare i team id del primo, secondo e terzo posto per assegnazione punteggio -->
                                {% endif %}
                            {% endif %}
                            {% if tournament.status == 'complete' %}
                                <pre>{{ matches | json_encode() }}</pre>
                            {% endif %}
                        </div>
                    </div>
                 <img src="/assets/images/profilo.png" alt="Dettaglio torneo">
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    function joinTeam(tId, teamId) {
        var buttons = document.getElementsByTagName('button');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = true; //da vedere quando grafichiamo se rimane un button
        }
      fetch('/tournaments/'+tId+'/team/'+teamId, {
        method: 'PUT',
        //body: new FormData(form),
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.reload();
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }

    function joinRandomTeam(tId) {
      fetch('/tournaments/'+tId+'/randomteam', {
        method: 'PUT',
        //body: new FormData(form),
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.reload();
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }
    
    function leaveTeam(tId, mmr) {
      fetch('/tournaments/leave/'+tId+'/'+mmr, {
        method: 'POST',
        //body: new FormData(form),
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.reload();
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }

    function startTournament(tId) {
      fetch('/tournaments/'+tId+'/start', {
        method: 'POST',
        //body: new FormData(form),
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.reload();
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }

    function matchScore(tId, matchId, winnerId, scoreOne, scoreTwo) {
        var data = new FormData();
        data.append('teamId', winnerId);
        data.append('one', scoreOne);
        data.append('two', scoreTwo);
      fetch('/tournaments/'+tId+'/match/'+matchId, {
        method: 'POST',
        body: data,
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.reload();
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }

    function deleteTournament(tId) {
      fetch('/tournaments/'+tId+'/delete', {
        method: 'DELETE',
        //body: new FormData(form),
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.href = '/tournaments';
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }

    function closeTournament(tId, firstId, secondId, thirdId) {
        var data = new FormData();
        data.append('first', firstId);
        data.append('second', secondId);
        data.append('third', thirdId);
      fetch('/tournaments/'+tId+'/close', {
        method: 'POST',
        body: data,
        credentials: 'same-origin'
      }).then(function(response) {
        //console.log(response)
        if (response.ok) {
          location.reload();
        } else {
          throw new Error(response.statusText);
        }
      }).catch(function(error) {
        console.log('request failed', error)
      })
    }

    function renderSteamStatus(state, id) {
        if (state != 0) {
            document.getElementById('stText-'+id).innerHTML = 'online';
            document.getElementById('light-'+id).classList.add('on');
        }
    }

    function steamStatus(el) {
        var expTime = 300; //5 min
        var id = el.getElementsByClassName('userCard')[0].getAttribute('data-steam');
        var cached = localStorage.getItem(id);
        var tsCached = localStorage.getItem(id + ':ts');
        if (cached !== null && tsCached !== null) {
            var age = (Date.now() - tsCached) / 1000;
            if (age < expTime) {
                renderSteamStatus(cached, id);
                return false;
            } else {
                localStorage.removeItem(id);
                localStorage.removeItem(id + ':ts');
            }
        }
            
        fetch('/steam/status/'+id, {
            method: 'GET',
            credentials: 'same-origin'
        }).then(function(response) {
            //console.log(response)
            if (response.ok) {
                response.clone().text().then(content => {
                    localStorage.setItem(id, content)
                    localStorage.setItem(id + ':ts', Date.now())
                });
                return response.json();
            } else {
                throw new Error(response.statusText);
            }
        }).then(function(data) {
            renderSteamStatus(data, id);
        }).catch(function(error) {
            console.log('request failed', error)
        })
    }

    document.addEventListener('DOMContentLoaded', function() {
        var tooltip = new Drooltip({"element" : ".userTooltip"});
    });
    </script>
{% endblock %}