{% extends "layout.html.twig" %}

{% block title %}Tornei - AoE2ita{% endblock %}
{% block meta %}

{% endblock %}
{% block content %}
    {% include 'menu.html.twig' %}
    <section class="pure-g tournaments">
        <div class="pure-u-1 pure-u-md-1-5">
            <div class="sidebar">
                <div class="bigButton">
                    <a href="{{ path_for('new_tournament') }}">Crea torneo</a>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="profile">
                    <div class="pure-u-3-5">
                        <div class="pure-u-2-5">
                            <div class="avatar">
                                <a class="username" href="{{ path_for('user', { 'slug': user.slug }) }}">
                                    <img src="{{ user.avatar }}" alt="{{user.username}}">
                                </a>
                            </div>
                        </div><!--
                        --><div class="pure-u-3-5">
                                <div class="user">
                                    <a class="username" href="{{ path_for('user', { 'slug': user.slug }) }}">{{user.username}}</a><br>
                                    <a class="logout" href="{{ path_for('logout') }}">disconnetti</a>
                                </div>
                        </div>
                        <div class="pure-u-1">
                            <div class="rank">
                                <span>DM: {{ user.mmr_dm }}</span>
                                <span>RM: {{ user.mmr_rm }}</span>
                            </div>
                        </div>
                    </div><!--
                    --><div class="pure-u-2-5">
                        <div class="score">
                            <span>{{ user.first_position * 3 + user.second_position * 2 + user.third_position * 1 }}</span>
                            <img src="/assets/images/cup.png" alt="score">
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="title">
                        Tornei in corso
                    </div>
                    <div class="content">
                        {% for ut in user.teams %}
                            {% if ut.tournament %}
                                <a href="{{ path_for('tournament', { 'id': ut.tournament.id }) }}">
                                    {{ ut.tournament.title }} 
                                    {% if ut.tournament.status == 'complete' %}
                                        <span>&#128081;</span>
                                    {% endif %}
                                </a><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-4-5">
            <div class="tournamentTable">
                <table id="tournamentsTable">
                    <thead>
                        <th>Torneo</th>
                        <th>Tipo</th>
                        <th>Rank</th>
                        <th>Classifica</th>
                        <th>Host</th>
                        <th>Squadre casuali</th>
                        <th>Partecipanti</th>
                    </thead>
                    <tbody>
                        {% for t in tournaments %}
                            <tr onclick="loadTorunament({{ t.id }})">
                                <td>{{ t.title }}</td>
                                <td>{{ t.type }}</td>
                                <td>{{ t.rank_min }} - {{ t.rank_max }}</td>
                                <td>{{ t.rank }}</td>
                                <td>{{ t.host }}</td>
                                <td>{{ t.random_team }}</td>
                                <td>{{ t.joined }}/{{ t.team_members * t.n_teams }} {% if t.subscribed %}&check;{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--{{ tournaments | json_encode() }}-->
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var dataTable = new DataTable("#tournamentsTable", {
            labels: {
                placeholder: "Cerca tornei",
                perPage: "{select} tornei per pagina",
                noRows: "Nessun torneo trovato",
                info: "Visualizzati {start} di {end} su {rows} tornei",
                perPage: 30
            },
            layout: {
                top: "{search}",
                bottom: "{info}{pager}"
            }
        });

        function loadTorunament(id){
            window.location.href = '/tournaments/' + id;
        }
    </script>
{% endblock %}